.characters-section {
  padding-bottom: 144px;

  @include media(desktop) {
    padding-bottom: 200px;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.characters-title {
  @include media(desktop) {
    margin-bottom: 92px;
  }
}

.characters-section-wrapper {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    max-width: 848px;
    padding-bottom: 40px;
  }
}

.characters-container {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.characters-swiper-container {
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;

  @include media(desktop) {
  }
}

.characters-swiper-container.show {
  visibility: visible;
}

.characters-swiper-wrapper {
}

.characters-slide {
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
    flex-shrink: 0;

    &.swiper-slide-active {
      transform: scale(1.45) !important;
      z-index: 2;
    }
  }
}

.characters-img {
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    width: 155px;
    height: 154px;
  }
}

.characters-name {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  color: #fff;

  @include media(desktop) {
  }
}

.arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  position: absolute;
  top: 205px;
  z-index: 1;

  &:active {
    transform: scale(0.9);
  }

  @include media(desktop) {
    top: 255px;

    &:hover {
      transform: scale(1.1);
    }
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      transform: none;
    }
  }
}

.left-arrow {
  left: 24px;

  @include media(desktop) {
    left: 255px;
  }
}

.right-arrow {
  right: 24px;

  @include media(desktop) {
    right: 255px;
  }
}

.arrow-icon {
  fill: #fff;
}
