.download-section {
  padding-bottom: 167px;

  @include media(desktop) {
    padding-bottom: 271px;
  }
}

.download-title {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;

  @include media(desktop) {
    font-size: 20px;
  }
}

.download-text {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  word-break: break-word;

  @include media(desktop) {
    font-size: 30px;
    max-width: 567px;
    margin: 0 auto;
  }
}
