.faq-section {
  padding-bottom: 100px;

  @include media(desktop) {
    padding-bottom: 200px;
  }
}

.faq-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;

  @include media(desktop) {
    gap: 16px;
  }
}

.faq-list-item {
  backdrop-filter: blur(50px);
  box-shadow: inset 0 2px 10px 0 rgba(255, 255, 255, 0.25);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 16px 16px 20px 16px;
  max-width: 336px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
    padding: 16px 24px 20px 24px;
    max-width: 869px;
  }
}

.faq-top-text-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq-toggle-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.faq-icon {
  fill: #fff;
}

.faq-btn-text {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: #fff;
  text-align: left;
  max-width: 233px;

  @include media(desktop) {
    font-size: 30px;
    max-width: max-content;
  }
}

.faq-bottom-text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  @include media(desktop) {
    font-size: 20px;
  }
}

.is-visible {
  margin-top: 16px;
  max-height: 200px;
  opacity: 1;

  @include media(desktop) {
    max-height: 68px;
  }
}

.faq-list-item.faq-open .faq-toggle-symbol {
  transform: rotate(180deg);
}

.faq-list-item.faq-open {
  background: #fff;
}

.faq-list-item.faq-open .faq-btn-text {
  color: #000;
}

.faq-list-item.faq-open .faq-bottom-text {
  color: #000;
}

.faq-list-item.faq-open .faq-icon {
  fill: #000;
}
