.features-section {
  padding-top: 70px;
  padding-bottom: 80px;
  scroll-margin-top: 10px;

  @include media(desktop) {
    scroll-margin-top: 0px;
    padding-top: 120px;
    padding-bottom: 150px;
  }
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.features-list-item {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include media(desktop) {
    max-width: 344px;
  }
}

.features-item-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #000;

  @include media(desktop) {
    font-size: 20px;
  }
}

.features-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;

  @include media(desktop) {
    font-size: 20px;
  }
}
