.header {
  background: #2b4d7a;
  padding-top: 16px;
  padding-bottom: 16px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media(desktop) {
    justify-content: center;
  }
}

.header-logo-link {
  @include media(desktop) {
    display: none;
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
  }
}

.nav-list-link {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.nav-list-link.active {
  font-weight: 700;
}

.nav-btn {
  box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media(desktop) {
    display: none;
  }
}

.close-btn {
  display: none;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  z-index: 1;

  @include media(desktop) {
    display: none;
  }
}

.menu-icon {
  stroke: #000;
}

.menu-icon-scrolled {
}
