.hero-section {
  padding-top: 82px;

  @include media(desktop) {
    padding-top: 56px;
  }
}

.hero-bg-wrapper {
  padding-top: 42px;
  padding-bottom: 330px;
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  background-image: url(../img/hero/hero-top-left-coin-mob.png),
    url(../img/hero/hero-top-right-coin-mob.png),
    url(../img/hero/hero-middle-left-coin-mob.png),
    url(../img/hero/hero-middle-right-coin-mob.png),
    url(../img/hero/hero-bottom-line-mob.png),
    url(../img/hero/hero-bottom-right-coin-mob.png);
  background-repeat: no-repeat;
  background-position: top left, top right, top 324px left, top 304px right,
    bottom 138px center, top 551px right;
  background-size: auto;

  @include media(desktop) {
    padding-top: 51px;
    padding-bottom: 248px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-top-left-coin-desk.png),
      url(../img/hero/hero-top-middle-coin-desk.png),
      url(../img/hero/hero-top-right-coin-desk.png),
      url(../img/hero/hero-top-small-coin-desk.png),
      url(../img/hero/hero-middle-coin-desk.png),
      url(../img/hero/hero-bottom-left-coin-desk.png),
      url(../img/hero/hero-bottom-middle-coin-desk.png),
      url(../img/hero/hero-bottom-line-desk.png),
      url(../img/hero/hero-bottom-right-coin-desk.png);
    background-repeat: no-repeat;
    background-position: top 68px left 94px, top 39px right 263px,
      top 39px right, top 248px right 168px, bottom 372px right 212px,
      bottom 185px left 212px, bottom 130px right 469px, bottom 68px center,
      bottom 127px right 27px;
  }
}

.hero-logo-img {
  display: none;

  @include media(desktop) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 54px;
  }
}

.hero-content-wrapper {
  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
  }
}

.hero-title-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;

  @include media(desktop) {
    margin-bottom: 0;
  }
}

.hero-text-wrapper {
}

.hero-title {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #fff;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 20px;
    text-align: left;
  }
}

.hero-text {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  color: #fff;

  @include media(desktop) {
    font-size: 30px;
    max-width: 638px;
    text-align: left;
  }
}
