.context-menu {
  display: none;
  flex-direction: column;
  background: #173b6d;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  margin: 0 auto;
  position: fixed;
  top: 82px;
  left: 0;
  right: 0;
  transform: none;
  z-index: 10;
}

.context-bg-wrapper {
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  padding-top: 122px;
  padding-bottom: 264px;
  background-image: url(../img/hero/hero-top-left-coin-mob.png),
    url(../img/hero/hero-top-right-coin-mob.png),
    url(../img/hero/hero-middle-left-coin-mob.png),
    url(../img/hero/hero-middle-right-coin-mob.png),
    url(../img/hero/hero-bottom-right-coin-mob.png);
  background-repeat: no-repeat;
  background-position: top left, top right, top 324px left, top 304px right,
    top 551px right;
  background-size: auto;
}

.context-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.context-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.context-list-link {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  transition: all 0.3s ease-in-out;

  &:active {
    font-weight: 700;
  }
}

.is-open {
  display: flex;

  @include media(desktop) {
    display: none;
  }
}

.closed {
  display: none;
}

.screen-freeze {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.close-icon {
  stroke: #000;
}
