.reviews-section {
  padding-bottom: 80px;

  @include media(desktop) {
    padding-bottom: 150px;
  }
}

.reviews-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
}

.reviews-list-item {
  border: 3px solid #dadada;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include media(desktop) {
    max-width: 344px;
  }
}

.reviews-rating-img {
  margin-left: auto;
  margin-right: auto;
}

.reviews-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #000;

  @include media(desktop) {
    font-size: 20px;
  }
}

.reviews-name {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #000;

  @include media(desktop) {
    font-size: 20px;
  }
}

.reviews-avatar-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -60px;
}
