.reviews-section {
  padding-bottom: 100px;

  @include media(desktop) {
    padding-bottom: 200px;
  }
}

.reviews-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;

  @include media(desktop) {
  }
}

.reviews-list-item {
  display: flex;
  flex-direction: column;
  gap: 28px;

  @include media(desktop) {
    max-width: 485px;
  }
}

.reviews-avatar-img {
  margin-left: auto;
  margin-right: auto;
}

.reviews-name {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #fff;

  @include media(desktop) {
    font-size: 20px;
  }
}

.reviews-text {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  color: #fff;

  @include media(desktop) {
    font-size: 30px;
  }
}

.reviews-arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 37px;
  height: 48px;
  margin: 0 auto;
}

.reviews-arrow-icon {
  fill: #fff;
}
