<section class="section characters-section" id="characters">
  <div class="characters-section-wrapper">
    <div class="container characters-container">
      <h2 class="section-title characters-title">Characters</h2>
      <div class="characters-swiper-container">
        <ul class="swiper-wrapper characters-swiper-wrapper">
          <li class="swiper-slide characters-slide">
            <img
              class="characters-img"
              src="./img/characters/characters-autobot.png"
              alt="Screenshot of the game"
              width="224"
              height="224"
              loading="lazy"
            />
            <h3 class="characters-name">AUTOBOT</h3>
          </li>
          <li class="swiper-slide characters-slide">
            <img
              class="characters-img"
              src="./img/characters/characters-boar.png"
              alt="Screenshot of the game"
              width="224"
              height="224"
              loading="lazy"
            />
            <h3 class="characters-name">BIG BOAR</h3>
          </li>
          <li class="swiper-slide characters-slide">
            <img
              class="characters-img"
              src="./img/characters/characters-smush.png"
              alt="Screenshot of the game"
              width="224"
              height="224"
              loading="lazy"
            />
            <h3 class="characters-name">SMUSH</h3>
          </li>
          <li class="swiper-slide characters-slide">
            <img
              class="characters-img"
              src="./img/characters/characters-bunnie.png"
              alt="Screenshot of the game"
              width="224"
              height="224"
              loading="lazy"
            />
            <h3 class="characters-name">BUNNIE</h3>
          </li>
          <li class="swiper-slide characters-slide">
            <img
              class="characters-img"
              src="./img/characters/characters-chicky.png"
              alt="Screenshot of the game"
              width="224"
              height="224"
              loading="lazy"
            />
            <h3 class="characters-name">CHICKY</h3>
          </li>
          <li class="swiper-slide characters-slide">
            <img
              class="characters-img"
              src="./img/characters/characters-sharker.png"
              alt="Screenshot of the game"
              width="224"
              height="224"
              loading="lazy"
            />
            <h3 class="characters-name">SHARKER</h3>
          </li>
          <li class="swiper-slide characters-slide">
            <img
              class="characters-img"
              src="./img/characters/characters-croco.png"
              alt="Screenshot of the game"
              width="224"
              height="224"
              loading="lazy"
            />
            <h3 class="characters-name">CROCO</h3>
          </li>
          <li class="swiper-slide characters-slide">
            <img
              class="characters-img"
              src="./img/characters/characters-alpha.png"
              alt="Screenshot of the game"
              width="224"
              height="224"
              loading="lazy"
            />
            <h3 class="characters-name">ALPHA-X</h3>
          </li>
          <li class="swiper-slide characters-slide">
            <img
              class="characters-img"
              src="./img/characters/characters-spartan.png"
              alt="Screenshot of the game"
              width="224"
              height="224"
              loading="lazy"
            />
            <h3 class="characters-name">SPARTAN BOI</h3>
          </li>
          <li class="swiper-slide characters-slide">
            <img
              class="characters-img"
              src="./img/characters/characters-castuky.png"
              alt="Screenshot of the game"
              width="224"
              height="224"
              loading="lazy"
            />
            <h3 class="characters-name">CASTUKY</h3>
          </li>
        </ul>
      </div>
      <button
        class="arrow-btn left-arrow"
        id="charactersLeftArrow"
        aria-label="Previous slide"
      >
        <svg class="arrow-icon" width="22" height="28">
          <use href="./img/sprite.svg#icon-left-arrow"></use>
        </svg>
      </button>
      <button
        class="arrow-btn right-arrow"
        id="charactersRightArrow"
        aria-label="Next slide"
      >
        <svg class="arrow-icon" width="22" height="28">
          <use href="./img/sprite.svg#icon-right-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
