<section class="section faq-section" id="faq">
  <div class="container faq-container">
    <h2 class="section-title faq-title">FAQ</h2>
    <ul class="faq-list">
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Is Runes Master free to play?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="31" height="25">
              <use href="./img/sprite.svg#icon-down-arrow"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Yes, it's completely free with optional in-app purchases.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Can I play offline?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="31" height="25">
              <use href="./img/sprite.svg#icon-down-arrow"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Yes! You can enjoy most of the game features without an internet
          connection.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Are new levels added regularly?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="31" height="25">
              <use href="./img/sprite.svg#icon-down-arrow"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Absolutely! The game gets frequent updates with new puzzles and
          challenges.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text"
            >Does the game require fast reactions?</span
          >
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="31" height="25">
              <use href="./img/sprite.svg#icon-down-arrow"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          No, it's a relaxing puzzle game that focuses on strategy and logic.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">What devices support the game?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="31" height="25">
              <use href="./img/sprite.svg#icon-down-arrow"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Runes Master runs smoothly on most Android devices with Android 6.0
          and up.
        </p>
      </li>
    </ul>
  </div>
</section>
