<section class="section faq-section" id="faq">
  <div class="container faq-container">
    <h2 class="section-title faq-title">FAQ</h2>
    <ul class="faq-list">
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Is DeliCat free to play?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="36" height="36">
              <use href="./img/sprite.svg#icon-down-arrow"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Yes! DeliCat is free to download and play with optional in-app
          purchases
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Can I play offline?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="36" height="36">
              <use href="./img/sprite.svg#icon-down-arrow"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Absolutely! Your deli will keep running and earning while you're away
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text"
            >Do I need to be a cat lover to enjoy it?</span
          >
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="36" height="36">
              <use href="./img/sprite.svg#icon-down-arrow"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">Not at all—but it definitely helps! 🐱</p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">How do I unlock new recipes?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="36" height="36">
              <use href="./img/sprite.svg#icon-down-arrow"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Expand your café, hire new chefs, and complete food missions
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Which devices are supported?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="36" height="36">
              <use href="./img/sprite.svg#icon-down-arrow"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          DeliCat is available on most Android devices via Google Play
        </p>
      </li>
    </ul>
  </div>
</section>
