<section class="section features-section" id="features">
  <div class="features-bg-wrapper">
    <div class="container features-container">
      <h2 class="section-title features-title">Key Features</h2>
      <ul class="features-list">
        <li class="features-list-item">
          <img
            class="features-img"
            src="./img/features/features-bell.png"
            alt="Bell"
            width="50"
            height="50"
            loading="lazy"
          />
          <h3 class="features-item-title">Adorable Cat Staff</h3>
          <p class="features-item-text">
            Hire quirky feline chefs and waiters with unique personalities
          </p>
        </li>
        <li class="features-list-item">
          <img
            class="features-img"
            src="./img/features/features-globe.png"
            alt="Globe"
            width="50"
            height="50"
            loading="lazy"
          />
          <h3 class="features-item-title">Idle Deli Gameplay</h3>
          <p class="features-item-text">
            Relax while your café earns for you— even when you’re offline
          </p>
        </li>
        <li class="features-list-item">
          <img
            class="features-img"
            src="./img/features/features-cupcake.png"
            alt="Cupcake"
            width="50"
            height="50"
            loading="lazy"
          />
          <h3 class="features-item-title">Café Customization</h3>
          <p class="features-item-text">
            Decorate your deli and upgrade it to attract more kitties
          </p>
        </li>
        <li class="features-list-item">
          <img
            class="features-img"
            src="./img/features/features-burger.png"
            alt="Burger"
            width="50"
            height="50"
            loading="lazy"
          />
          <h3 class="features-item-title">Global Cuisine</h3>
          <p class="features-item-text">
            Unlock and serve dishes from Japan, Italy, Mexico & more
          </p>
        </li>
        <li class="features-list-item">
          <img
            class="features-img"
            src="./img/features/features-cat.png"
            alt="Cat"
            width="50"
            height="50"
            loading="lazy"
          />
          <h3 class="features-item-title">Charming Interactions</h3>
          <p class="features-item-text">
            Watch your cat customers chat, eat, and nap in style
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
