<section class="section gallery-section" id="gallery">
  <div class="gallery-section-wrapper">
    <div class="container gallery-container">
      <h2 class="section-title gallery-title">Gallery</h2>
      <div class="gallery-swiper-container">
        <ul class="swiper-wrapper gallery-swiper-wrapper">
          <li class="swiper-slide gallery-slide">
            <img
              class="gallery-img"
              src="./img/gallery/gallery-place.png"
              alt="Screenshot of the game"
              width="250"
              height="375"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide gallery-slide">
            <img
              class="gallery-img"
              src="./img/gallery/gallery-unlock.png"
              alt="Screenshot of the game"
              width="250"
              height="375"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide gallery-slide">
            <img
              class="gallery-img"
              src="./img/gallery/gallery-select.png"
              alt="Screenshot of the game"
              width="250"
              height="375"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide gallery-slide">
            <img
              class="gallery-img"
              src="./img/gallery/gallery-attack.png"
              alt="Screenshot of the game"
              width="250"
              height="375"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide gallery-slide">
            <img
              class="gallery-img"
              src="./img/gallery/gallery-leave.png"
              alt="Screenshot of the game"
              width="250"
              height="375"
              loading="lazy"
            />
          </li>
        </ul>
      </div>
      <button
        class="gallery-arrow-btn gallery-left-arrow"
        id="galleryLeftArrow"
        aria-label="Previous slide"
      >
        <svg class="arrow-icon" width="22" height="28">
          <use href="./img/sprite.svg#icon-left-arrow"></use>
        </svg>
      </button>
      <button
        class="gallery-arrow-btn gallery-right-arrow"
        id="galleryRightArrow"
        aria-label="Next slide"
      >
        <svg class="arrow-icon" width="22" height="28">
          <use href="./img/sprite.svg#icon-right-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
