<section class="section gallery-section" id="gallery">
  <div class="container gallery-container">
    <h2 class="section-title">Gallery</h2>
    <ul class="gallery-list">
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="./img/gallery/gallery-img1-desk.png"
            media="(min-width: 1440px)"
            width="252"
            height="448"
          />
          <source
            srcset="./img/gallery/gallery-img1-mob.png"
            width="161"
            height="286"
          />
          <img
            class="gallery-img"
            src="./img/gallery/gallery-img1-mob.png"
            alt="Screenshot of the game"
            width="161"
            height="286"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="./img/gallery/gallery-img2-desk.png"
            media="(min-width: 1440px)"
            width="252"
            height="448"
          />
          <source
            srcset="./img/gallery/gallery-img2-mob.png"
            width="161"
            height="286"
          />
          <img
            class="gallery-img"
            src="./img/gallery/gallery-img2-mob.png"
            alt="Screenshot of the game"
            width="161"
            height="286"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="./img/gallery/gallery-img3-desk.png"
            media="(min-width: 1440px)"
            width="252"
            height="448"
          />
          <source
            srcset="./img/gallery/gallery-img3-mob.png"
            width="161"
            height="286"
          />
          <img
            class="gallery-img"
            src="./img/gallery/gallery-img3-mob.png"
            alt="Screenshot of the game"
            width="161"
            height="286"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="./img/gallery/gallery-img4-desk.png"
            media="(min-width: 1440px)"
            width="252"
            height="448"
          />
          <source
            srcset="./img/gallery/gallery-img4-mob.png"
            width="161"
            height="286"
          />
          <img
            class="gallery-img"
            src="./img/gallery/gallery-img4-mob.png"
            alt="Screenshot of the game"
            width="161"
            height="286"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="./img/gallery/gallery-img5-desk.png"
            media="(min-width: 1440px)"
            width="252"
            height="448"
          />
          <source
            srcset="./img/gallery/gallery-img5-mob.png"
            width="161"
            height="286"
          />
          <img
            class="gallery-img"
            src="./img/gallery/gallery-img5-mob.png"
            alt="Screenshot of the game"
            width="161"
            height="286"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="./img/gallery/gallery-img6-desk.png"
            media="(min-width: 1440px)"
            width="252"
            height="448"
          />
          <source
            srcset="./img/gallery/gallery-img6-mob.png"
            width="161"
            height="286"
          />
          <img
            class="gallery-img"
            src="./img/gallery/gallery-img6-mob.png"
            alt="Screenshot of the game"
            width="161"
            height="286"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="./img/gallery/gallery-img7-desk.png"
            media="(min-width: 1440px)"
            width="252"
            height="448"
          />
          <source
            srcset="./img/gallery/gallery-img7-mob.png"
            width="161"
            height="286"
          />
          <img
            class="gallery-img"
            src="./img/gallery/gallery-img7-mob.png"
            alt="Screenshot of the game"
            width="161"
            height="286"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="gallery-list-item">
        <picture>
          <source
            srcset="./img/gallery/gallery-img8-desk.png"
            media="(min-width: 1440px)"
            width="252"
            height="448"
          />
          <source
            srcset="./img/gallery/gallery-img8-mob.png"
            width="161"
            height="286"
          />
          <img
            class="gallery-img"
            src="./img/gallery/gallery-img8-mob.png"
            alt="Screenshot of the game"
            width="161"
            height="286"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
    <button class="arrow-btn" id="galleryDownArrow" aria-label="Next slide">
      <svg class="arrow-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-small-down-arrow"></use>
      </svg>
    </button>
  </div>
</section>
