<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <img
        class="hero-logo-img"
        src="./img/hero/hero-logo-desk.png"
        alt="Logo"
        width="188"
        height="187"
      />
      <div class="hero-content-wrapper">
        <picture>
          <source
            srcset="./img/hero/hero-title-desk.png"
            media="(min-width: 1440px)"
            width="452"
            height="452"
          />
          <source
            srcset="./img/hero/hero-title-mob.png"
            width="188"
            height="187"
          />
          <img
            class="hero-title-img"
            src="./img/hero/hero-title-mob.png"
            alt="Logo"
            width="188"
            height="187"
          />
        </picture>
        <div class="hero-text-wrapper">
          <h1 class="hero-title">Master the Magic of Runes!</h1>
          <p class="hero-text">
            Match, merge, and puzzle your way through a mystical world filled
            with ancient symbols
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
