<section class="section hero-section" id="home">
  <div class="container hero-container">
    <div class="hero-text-wrapper">
      <h1 class="hero-title">Welcome to</h1>
      <picture>
        <source
          srcset="./img/hero/hero-title-desk.png"
          media="(min-width: 1440px)"
          width="306"
          height="83"
        />
        <source
          srcset="./img/hero/hero-title-mob.png"
          width="174"
          height="47"
        />
        <img
          class="hero-title-img"
          src="./img/hero/hero-title-mob.png"
          alt="Logo"
          width="174"
          height="47"
        />
      </picture>
      <p class="hero-text">
        Build the purr-fect café empire – one delicious dish at a time
      </p>
    </div>
  </div>
</section>
