<div class="context-menu">
  <div class="context-bg-wrapper">
    <div class="container context-container">
      <nav class="context-nav">
        <ul class="context-nav-list">
          <li class="context-list-item">
            <a class="context-list-link" href="./index.html">Home</a>
          </li>
          <li class="context-list-item">
            <a class="context-list-link" href="./index.html#description"
              >Game Description</a
            >
          </li>
          <li class="context-list-item">
            <a class="context-list-link" href="./index.html#characters"
              >Characters</a
            >
          </li>
          <li class="context-list-item">
            <a class="context-list-link" href="./index.html#play"
              >How to Play</a
            >
          </li>
          <li class="context-list-item">
            <a class="context-list-link" href="./index.html#gallery">Gallery</a>
          </li>
          <li class="context-list-item">
            <a class="context-list-link" href="./index.html#reviews"
              >User Reviews</a
            >
          </li>
          <li class="context-list-item">
            <a class="context-list-link" href="./index.html#faq">FAQ</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
