<section class="section play-section" id="play">
  <div class="play-section-wrapper">
    <div class="container play-container">
      <h2 class="section-title">How to Play</h2>
      <div class="play-content-wrapper">
        <ul class="play-list">
          <li class="play-list-item">
            <span class="play-item-number">1</span>
            <div class="play-text-wrapper">
              <h3 class="play-item-title">Open Your Cat Deli</h3>
              <p class="play-item-text">
                Tap to start cooking and serving meals to your first customers
              </p>
            </div>
          </li>
          <li class="play-list-item">
            <span class="play-item-number">2</span>
            <div class="play-text-wrapper">
              <h3 class="play-item-title">Upgrade & Expand</h3>
              <p class="play-item-text">
                Hire staff, decorate your café, and unlock new food stations
              </p>
            </div>
          </li>
          <li class="play-list-item">
            <span class="play-item-number">3</span>
            <div class="play-text-wrapper">
              <h3 class="play-item-title">Collect & Relax</h3>
              <p class="play-item-text">
                Earn coins, discover rare cats, and enjoy passive progression
              </p>
            </div>
          </li>
        </ul>
        <picture>
          <source
            srcset="./img/play/play-img-desk.png"
            media="(min-width: 1440px)"
            width="528"
            height="396"
          />
          <source
            srcset="./img/play/play-img-mob.png"
            width="255"
            height="191"
          />
          <img
            class="play-img"
            src="./img/play/play-img-mob.png"
            alt="Screenshot of the game"
            width="255"
            height="191"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
