<section class="section reviews-section" id="reviews">
  <div class="container reviews-container">
    <h2 class="section-title reviews-title">User Reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-list-item">
        <img
          class="reviews-avatar-img"
          src="./img/reviews/reviews-lucas.png"
          alt="Avatar"
          width="70"
          height="70"
          loading="lazy"
        />
        <p class="reviews-name">Lucas P.</p>
        <p class="reviews-text">
          “This game is addicting in the best way. Love the magic theme!”
        </p>
      </li>
      <li class="reviews-list-item">
        <img
          class="reviews-avatar-img"
          src="./img/reviews/reviews-elena.png"
          alt="Avatar"
          width="70"
          height="70"
          loading="lazy"
        />
        <p class="reviews-name">Elena M.</p>
        <p class="reviews-text">
          “Finally a merge game that feels fresh and rewarding.”
        </p>
      </li>
      <li class="reviews-list-item">
        <img
          class="reviews-avatar-img"
          src="./img/reviews/reviews-victor.png"
          alt="Avatar"
          width="70"
          height="70"
          loading="lazy"
        />
        <p class="reviews-name">Victor D.</p>
        <p class="reviews-text">
          “Runes Master looks great and plays even better. A real gem!”
        </p>
      </li>
      <li class="reviews-list-item">
        <img
          class="reviews-avatar-img"
          src="./img/reviews/reviews-naomi.png"
          alt="Avatar"
          width="70"
          height="70"
          loading="lazy"
        />
        <p class="reviews-name">Naomi W.</p>
        <p class="reviews-text">
          “Smooth gameplay and fun levels. Really enjoying it so far.”
        </p>
      </li>
      <li class="reviews-list-item">
        <img
          class="reviews-avatar-img"
          src="./img/reviews/reviews-kevin.png"
          alt="Avatar"
          width="70"
          height="70"
          loading="lazy"
        />
        <p class="reviews-name">Kevin J.</p>
        <p class="reviews-text">
          “Highly recommend for puzzle lovers who enjoy a mystical twist.”
        </p>
      </li>
    </ul>
    <button
      class="reviews-arrow-btn"
      id="reviewsDownArrow"
      aria-label="Next slide"
    >
      <svg class="reviews-arrow-icon" width="37" height="48">
        <use href="./img/sprite.svg#icon-down-arrow"></use>
      </svg>
    </button>
  </div>
</section>
