<section class="section reviews-section" id="reviews">
  <div class="container reviews-container">
    <h2 class="section-title reviews-title">User Reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-list-item">
        <img
          class="reviews-rating-img"
          src="./img/reviews/reviews-rating.png"
          alt="Rating stars"
          width="166"
          height="30"
          loading="lazy"
        />
        <p class="reviews-text">
          “The art is adorable and the gameplay is super chill. Love it!”
        </p>
        <p class="reviews-name">Bella M.</p>
        <img
          class="reviews-avatar-img"
          src="./img/reviews/reviews-avatar-bella.png"
          alt="Avatar"
          width="100"
          height="100"
          loading="lazy"
        />
      </li>
      <li class="reviews-list-item">
        <img
          class="reviews-rating-img"
          src="./img/reviews/reviews-rating.png"
          alt="Rating stars"
          width="166"
          height="30"
          loading="lazy"
        />
        <p class="reviews-text">
          “So many fun upgrades and characters! Great idle game.”
        </p>
        <p class="reviews-name">Jackson L.</p>
        <img
          class="reviews-avatar-img"
          src="./img/reviews/reviews-avatar-jackson.png"
          alt="Avatar"
          width="100"
          height="100"
          loading="lazy"
        />
      </li>
      <li class="reviews-list-item">
        <img
          class="reviews-rating-img"
          src="./img/reviews/reviews-rating.png"
          alt="Rating stars"
          width="166"
          height="30"
          loading="lazy"
        />
        <p class="reviews-text">
          “I check in daily just to see what my kitty chefs are up to.”
        </p>
        <p class="reviews-name">Liane R.</p>
        <img
          class="reviews-avatar-img"
          src="./img/reviews/reviews-avatar-liane.png"
          alt="Avatar"
          width="100"
          height="100"
          loading="lazy"
        />
      </li>
    </ul>
  </div>
</section>
